<!doctype html>

<html lang="es">
    {% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="{% static 'core/stylo.css' %}">
    <title>Home</title>
  </head>
  <body>

     <!--barra de navegacion -->
     <div>
 
     <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">
        <a class="navbar-brand" id="logo" href="{% url 'home' %}"><img src="{% static 'core/images/icon_1.png'  %}" width="100" height="50" class="d-inline-block align-top" alt="">J.Roumain</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categorías
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Artes</a>
                <a class="dropdown-item" href="#">Lenguas</a>
                <a class="dropdown-item" href="#">Literatura</a>
                <a class="dropdown-item" href="#">Historia y geografía</a>
              </div>
              
            </li>
            <div>
              <form class="form-inline my-5 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="ingresa tu libro" aria-label="Search">
                <button class="btn btn-primary btn-search" type="submit" tabindex="-1"><span aria-hidden="true" class="bi bi-search"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg></span>
              </button>
              </form>
            </div>
            </ul>
               
            <!-- utilizacion de codigo de contenido ajax -investigacion propia-->
               <div>
              <div class="collapse navbar-collapse" id="contenidoajax">
                <ul class="navbar-nav mr-auto" id="">
                  <li class="nav-link">
                          <a href="{% url 'login' %}" title="Login" target="_blank" rel="nofollow"><i class="fas fa-arrow-circle-right"></i><span>Iniciar sesión </span></a>
                        </li>
                        <li class="nav-link">
                          <a href="{% url 'signUp' %}" title="registrarse" target="_blank" rel="nofollow"><i class="fas fa-user"></i><span>Registrarse</span></a>
                        </li>
                       
                        
                      </ul>
                    </div>
                  </div>
             
        </nav>
    </div>
        <!--carousel de fotos-->
        <div>
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{% static 'core/images/slide1.jpg'  %}" class="d-block w-100" alt="gobernador del rocio">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Autor:Jacques Roumain</h5>
                      <p id="contslide">Gobernadores del Rocío:Gobernadores del Rocío
                        Cuenta la vida de un pueblo de Haití que vive una terrible sequía y
                         una enorme división entre ellos y cómo logran vencer ambas cosas.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'core/images/slide2.jpg'  %}" class="d-block w-100" alt="7 maravillas del mundo antiguo">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Las 7 maravillas del mundo antiguo.</h5>
                      <p id="contslide">Hace mucho, mucho tiempo, existieron en el mundo 7 construcciones 
                        arquitectónicas que desafiaron los conocimientos y 
                        medios de que disponían los hombres de aquella época.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'core/images/slide3.jpg'  %}" class="d-block w-100" alt="Dossier Haiti">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>01.Dossier Haiti</h5>
                      <p id="contslide"> Observatorio Latinoamericano es una colección de trabajos que,
                           bajo la forma de dossier , persigue ofrecer a todos los interesados en c
                           onocer más y mejor a América Latina.
                         </p>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
        </div>





          <!--historia y mision de la biblioteca-->
        <div id="contenidopage">
            <h1 class="text-center">Quíenes Somos</h1>
            <p>La Biblioteca Jacques Roumain, fundada el 19 de agosto de 1942, 
                una de las más antiguas de la región Sude-Este dentro de la 
                comuna de Jacmel, es el principal centro de acopio y preservación 
                del patrimonio  del escritor Jacques Roumain. Durante sus más de 
                setenta y nueve años de trayectoria ha conservado aquellas obras que la 
                sociedad ha considerado imprescindibles para el desarrollo intelectual y cultural  
                de la región.</p>
                <p>La misión de la Biblioteca Jacques Roumain consiste en recopilar, 
                    preservar y difundir los diversos materiales bibliográficos, impresos y 
                    en otros soportes, que forman parte de la memoria colectiva nacional y las 
                    obras de J.Roumain, a fin de posibilitar el acceso a la información y 
                    al conocimiento contenidos en sus colecciones, a todos los usuarios presenciales
                    y remotos de la comunidad nacional e internacional que lo requieran.
                    Contribuir al desarrollo integral de los miembros de la comunidad de Jacmel
                     y a su propia identidad, con la participación de la comunidad, actuando como
                      puente entre la cultura acumulada y el libre acceso de esta comunidad a la información,
                       conocimiento y recreación.</p>
        </div>

     <!--pie de pagina-->
     <div class="row">
        <div class="col text-white" style="background-color: rgb(61, 161, 161);">
        <p class="text-center text-uppercase my-2">info@bibliotecajroumain.ht</p>
        <p class="text-center">+50978907777</p>
        <p class="text-center">98 route de Cyvadier, Jacmel, Haïti•</p>
        <p class="text-center"> <small>Copyright © 2021 maximodeporte. Todos los derechos reservados.rel="nofollow"</small> </p>
        </div>
    </div>









    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
  </body>
</html>